* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    height: 100vh
}

.navication {
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.objuct-bur {
    background-color: rgba(0, 0, 255, 0.6);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 500px;
    filter: blur(200px);
}
.objuct-bur:nth-child(2) {
    background-color: rgba(9, 255, 0, 0.6);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 700px;
    filter: blur(200px);
}

.contianer {
    width: 100%;
    border-radius: 20px;
    padding: 1rem;
    color: white;
    display: flex;
    height: 100vh;   
    gap: 1.4rem;
}

aside {
    background-color: rgba(48, 47, 47, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 300px;
    border-radius: 16px;
    padding: 10px;
    /* height: 100vh; */
    display: flex;
    /* display: none; */
}

.sideBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
}

.t-sb {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
}

.t-sb img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    filter: drop-shadow( 1px 2px 5px white);
}

hr {
    margin: 1rem 0;
    border-radius: 50%;
    filter: blur(1px);
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.logo-sb{
    display: flex;
    justify-content: space-between;
}

.close-btn{
    display: none;
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px white;
}

.main-mn-sb{
    width: 100%;
    list-style: none;
}
.main-mn-sb li{
    width: 100%;
}
.main-mn-sb li a{
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
    position: relative;
    border-radius: 10px ;
    transition: 0.5s ease-in-out;
}
.main-mn-sb li a:hover,#active{
    background-color: rgb(255, 255, 255) ;
    color: black;
    filter: drop-shadow( 1px 1px 5px white);
    cursor: pointer;
}
.sub-mn-sb{
    list-style: none;
    display: none;
    margin-left: 1rem;
}
.show{
    display: block;
    transition: 2s ease;
}
.sub-mn-sb:hover{
    margin-left: 1.5rem;
}

.chew{
    position: absolute;
    right: 5px;
    transform: rotate(180deg);
    transition: 0.5s ease;
}
.skwen{
    transform: rotate(0deg);
    transition: 1s ease;
}
.b-sb{
    width: 100%;
    /* margin-bottom: 20px; */
}
.b-main-mn-sb{
    /* background-color: white; */
    width: 100%;
    list-style: none;
}
.b-main-mn-sb li{
    width: 100%;
}
.b-main-mn-sb li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: white;
    gap: 0.5rem;
    border-radius: 10px ;
    transition: 0.5s ease-in-out;

}
.b-main-mn-sb li a:hover{
    background-color: rgb(255, 255, 255) ;
    color: black;
    filter: drop-shadow( 1px 1px 5px white);
    width: 100%;
}
main {
    background-color: rgba(48, 47, 47, 0.4);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(5px);
    width: 100%;
    border-radius: 16px;
    padding: 20px;
}
.card{
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 14px;
    padding: 10px;
}

.humberger{
    display: none;
    background-color: white;
    color: black;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    filter: drop-shadow(1px 1px 5px white);
}

@media only screen and (max-width: 600px) {

    /* body,html{
        max-width: 600px;
        background-color: white;
    } */
    .navication{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    .contianer{
        gap: 0.5rem;
        flex-direction: column;
        padding: 0.5rem;
    }
    aside{
        display: none;
        position: absolute;
        z-index: 100;
        height: 100vh;
        top: 0;
        left: 0;
    }
    main{
        height: 100vh;
    }
    .humberger{
        display: block;
    }
    .objuct-bur {
        /* display: none; */
        position: fixed;
        width: 500px;
        height: 500px;
        filter: blur(100px);
        top: -300px;
        left: -300px;
    }
    .objuct-bur:nth-child(2) {
        position: fixed;
        /* display: none; */
        width: 200px;
        height: 200px;
        filter: blur(100px);
        top: 0px;
        left: 0px;
    }
    .close-btn{
        display: block;
    }

}